<div class="artifact-checklist">
  <button (click)="handleReset()" class="artifact-checklist__reset-button">Reset</button>
  <div class="artifact-checklist__control-panel">
    <input #searchField (input)="onSearchInput($event)" class="artifact-checklist__search" type="text">
  </div>
  <div class="artifact-checklist__list-wrapper">
    @for (artifact of artifactListService.artifactList.value; track artifact.name) {
    <div (click)="onCardClick(artifact.name)" [ngClass]="{ 'artifact-checklist__artifact-card--found': artifact.found }"
      class="artifact-checklist__artifact-card">
      <div *ngIf="artifact.found" class="artifact-checklist__checkmark">&#x2705;</div>
      <img class="artifact-checklist__image" [src]="artifact.source" />
      <div class="artifact-checklist__name">{{ artifact.name }} </div>
    </div>
    }
  </div>
</div>